<?xml version="1.0"?>
<!--
    Thomas Athanasiou at Hippiemonkeys
    Copyright (c) 2023 Hippiemonkeys Web Inteligence EE (https://hippiemonkeys.com)
    Hippiemonkeys_ModificationMagentoSales
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Hippiemonkeys_ModificationMagentoSales" setup_version="1.0.0">
        <sequence>
            <module name="Hippiemonkeys_Modification" />
            <module name="Magento_Sales" />
        </sequence>
    </module>
</config>