<?xml version="1.0"?>
<!--
    Thomas Athanasiou at Hippiemonkeys
    Copyright (c) 2022 Hippiemonkeys (https://hippiemonkeys.com)
    Hippiemonkeys_ShippingTaxydromiki
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="hippiemonkeys_modification">
            <group id="magento_sales" translate="label" type="text" sortOrder="0" showInDefault="1">
                <label>Magento Sales</label>
                <field id="active" translate="label" type="select" sortOrder="0" showInDefault="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="order_grid_collection_active" translate="label" type="select" sortOrder="10" showInDefault="1" canRestore="1">
                    <label>Order Grid Collection Plugin Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="missing_list_provider_active" translate="label" type="select" sortOrder="20" showInDefault="1" canRestore="1">
                    <label>Missing List Provider Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>